@media (width: 2560px){
    body{
        padding: 0 25rem;
    }

    .header .logo-da-empresa{
        width: 30rem;
    }

    .main .imagem-de-paginas img{
        width: 100%;
    }

    .main .textos{
        padding: 7rem 8rem;
        font-size: 3rem;
    }
    
    .main .textos h2{
        font-size: 5.8rem;
        margin-bottom: 2.2rem;
    }

    .main .botao-register{
        width: 30rem;
        height: 7rem;
        font-size: 2.7rem;
    }

    .social-media .logos-social-media i{
        width: 7rem;
        height: 7rem;
        border: 2px solid #fff;
        margin-left: 2rem;
        font-size: 3rem;
    }
}

@media (max-width: 900px){
    .main{
        grid-template-columns: 1fr;
    } 
}

@media (max-width: 420px){
    html{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--cor-de-fundo);
    }

    body{
        padding: 3rem 3.4rem;
    }

    .header .logo-da-empresa{
        width: 14rem;
        margin-bottom: 5.3rem;
    }

    .main .textos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem 0;
        text-align: center;
        font-size: 1.7rem;
    }

    .main .textos h2{
        font-size: 2.5rem;
    }

    .main .textos .botao-register{
        width: 22rem;
        height: 4rem;
    }

    .social-media{
        display: flex;
        justify-content: center;
    }

    .social-media .logos-social-media > i{
        margin: 0.5rem;
    }
}